{% extends 'base.html.twig' %}

{% block title %}
    Тест страница
{% endblock %}

{% block body %}
    <div class="text-center">Hi. I am home page! I love you, user! <span class="fa fa-heart"></span></div>
    <div class="center-clock">
        <dev class="fa fa-phone"> My phone: {{ phone }}</dev>
    </div>
{% endblock %}